body {
    color: black;
}

h1 {
    color: red;
}

h2 {
    color: #fff;
    background: green;
}

.header {
    background: blue;
    color: #fff;
    width: 110px;
    margin-bottom: 120px;
}

.header-sub-title-span {
    color: red;
}

.title-section2 {
    padding: 40px;
}

.title-section2-p {
    margin-left: 100px;
}

.list li {
    border: 1px solid;
}


